body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
}

#menu {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0%;
    width: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: none;
    transition: width 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#menu>button {
    border-radius: 10px;
    width: 90%;
}

#menu.visible {
    width: 150px;
    border: solid 3px gray;
}

#currencies {
    width: 500px;
    height: 100px;
    text-align: center;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 500px;
}

.keyboard div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.row {
    height: 100%;
}

.row>p {
    display: flex;
    align-items: center;
    justify-items: center;
    border: solid 2px black;
    transition: background 0.3s;
    padding: 10px;
}

.pressed {
    background-color: red;
}

.active {
    background-color: gray;
}

#letterBonusBox {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    column-gap: 40px;
}

#letterBonus {
    display: flex;
    gap: 40px;
    font-size: 50px;
}

#letterBonus>p {
    margin: 0px;
}

#resetLetterBonus {
    width: 60px;
}

#shopButtons {
    display: flex;
    justify-content: space-evenly;
}

.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.visible {
    opacity: 1;
    transition: opacity 1s;
}

.noDisplay {
    display: none;
}